In [130]:
%load_ext autoreload
%autoreload 2
#%aimport your_mod

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# 1. Block infor reading
- incon.dat                                       证监会行业，通达信新行业，申万行业等描述信息
- T0002\hq_cache\block.dat            一般板块
- T0002\hq_cache\block_gn.dat      概念板块
- T0002\hq_cache\block_fg.dat       风格板块
- T0002\hq_cache\block_zs.dat       指数板块:
- T0002\hq_cache\tdxhy.cfg             每个股票对应通达信行业和申万行业
- T0002\hq_cache\tdxzs.cfg             板块指数，部分板块的最后一个字段映射到incon.dat的TDXNHY和SWHY
- T0002\blocknew\blocknew.cfg        自定义板块概要描述文件

In [1]:
from pytdx.reader.block_reader import BlockReader
BlockReader_TYPE_GROUP = 1

In [9]:
block_data_path_zs = "C:/Users/ben_msi/abu/data/download/tdx/block_zs.dat"

In [10]:
df_block_zs = BlockReader().get_df(block_data_path_zs, BlockReader_TYPE_GROUP)

In [11]:
df_block_zs.tail()

,blockname,block_type,stock_count,code_list
60,央视50,2,50,"000002,000049,000333,000423,000538,000596,0006..."
61,腾讯济安,2,100,"000423,000488,000553,000581,000623,000665,0007..."
62,大数据i,2,100,"000030,000039,000040,000090,000408,000415,0004..."
63,中华A80,2,80,"000001,000002,000166,000333,000538,000651,0007..."
64,能源互联,2,50,"000400,002028,002063,002074,002121,002169,0022..."

In [12]:
block_data_path_gn = "C:/Users/ben_msi/abu/data/download/tdx/block_gn.dat"
df_block_gn = BlockReader().get_df(block_data_path_gn, BlockReader_TYPE_GROUP)
df_block_gn.tail()

,blockname,block_type,stock_count,code_list
135,人工智能,2,71,"000038,000066,000502,000821,000936,000938,0009..."
136,租购同权,2,19,"000007,000027,000056,000090,000560,000863,0009..."
137,工业互联,2,41,"000410,002079,002169,002184,002217,002230,0022..."
138,独角兽,2,54,"000532,000555,000676,000793,000829,000935,0009..."
139,知识产权,2,16,"000681,002235,002329,002474,002544,300079,3001..."

In [13]:
block_data_path_fg = "C:/Users/ben_msi/abu/data/download/tdx/block_fg.dat"
df_block_fg = BlockReader().get_df(block_data_path_fg, BlockReader_TYPE_GROUP)
df_block_fg.tail()

,blockname,block_type,stock_count,code_list
83,活跃股,2,100,"000636,000735,000820,002072,002243,002580,0025..."
84,不活跃股,2,100,"000004,000042,000096,000502,000586,000608,0006..."
85,近期新高,2,23,"000528,000597,000650,000860,000977,002242,0022..."
86,近期新低,2,17,"000566,000616,000793,000939,002082,002089,0025..."
87,近期异动,2,48,"000017,000506,000613,000721,000735,002072,0022..."

# 2. TDX 板块指数列表获取
- T0002\hq_cache\tdxzs.cfg 板块指数，部分板块的最后一个字段映射到incon.dat的TDXNHY和SWHY
- incon.dat: 板块代码到名称的映射

## 2.1 TDX 板块代码名称映射

In [ ]:
block_data_path_all = "C:/Users/ben_msi/abu/data/download/tdx/incon.dat"

## 1) text file read and parse into list

In [15]:
with open(block_data_path_all, 'r') as f:
    lines = f.readlines()
    lines = [line.strip() for line in lines]
    lines = [line.split('|') for line in lines]

In [17]:
lines[-5:]

[['qsgn0000702', '中泰证券'],
 ['gssh0600837', '海通证券'],
 ['9900008427', '东兴证券'],
 ['gssz0000728', '国元证券'],
 ['######']]

## 2) convert list into pd df

In [18]:
import pandas as pd

In [19]:
cols = ['block_code', 'block_name']
block_df = pd.DataFrame(lines, columns=cols)

In [20]:
block_df.head(10)

  block_code block_name
0     #ZJHHY       None
1          A         农业
2        A01         农业
3      A0101        种植业
4      A0199       其他农业
5        A03         林业
6      A0301         林业
7        A05        畜牧业
8      A0501    牲畜饲养放牧业
9      A0505      家禽饲养业

## 3) save block list to csv

In [21]:
path_to_save = "C:/Users/ben_msi/abu/data/download/tdx/"

In [24]:
block_df.to_csv(path_to_save + 'block_code2name.csv', encoding='utf_8_sig')

## 2.2 TDX 自定义板块指数列表

In [1]:
block_data_path_zs = "C:/Users/ben_msi/abu/data/download/tdx/tdxzs.cfg"

In [2]:
with open(block_data_path_zs, 'r') as f:
    lines_zs = f.readlines()
    lines_zs = [line.strip() for line in lines_zs]
    lines_zs = [line.split('|') for line in lines_zs]

In [3]:
lines_zs[-5:]

[['TDX 交运', '880989', '2', '1', '0', 'T09'],
 ['TDX 金融', '880990', '2', '1', '0', 'T10'],
 ['TDX 建设', '880991', '2', '1', '0', 'T11'],
 ['TDX 信息', '880992', '2', '1', '0', 'T12'],
 ['TDX 综企', '880993', '2', '1', '0', 'T13']]

In [5]:
import pandas as pd
cols = ['block_idx_name', 'block_idx_code', 'type', 'unknown', 'unknown','block_code']
block_zs_df = pd.DataFrame(lines_zs, columns=cols)

In [6]:
block_zs_df.iloc[50:60]

   block_idx_name block_idx_code type unknown unknown block_code
50             铅锌         880327    2       1       1    T020203
51             黄金         880328    2       1       1    T020204
52            小金属         880329    2       1       1    T020205
53             化纤         880330    2       1       1      T0203
54             化工         880335    2       1       0      T0204
55           化工原料         880336    2       1       1    T020401
56           农药化肥         880337    2       1       1    T020402
57             塑料         880338    2       1       1    T020404
58             橡胶         880339    2       1       1    T020405
59           染料涂料         880340    2       1       1    T020406

In [150]:
len(block_zs_df)

486

## 2.3 股票板块对应列表

In [7]:
block_stock_path = "C:/Users/ben_msi/abu/data/download/tdx/tdxhy.cfg"

In [8]:
with open(block_stock_path, 'r') as f:
    lines = f.readlines()
    lines = [line.strip() for line in lines]
    lines = [line.split('|') for line in lines]
lines[-5:]

[['1', '900952', 'T00', '0'],
 ['1', '900953', 'T00', '0'],
 ['1', '900955', 'T00', ''],
 ['1', '900956', 'T00', '0'],
 ['1', '900957', 'T00', '0']]

In [9]:
cols = ['sh_sz_indicator', 'stock_code', 'block_code', 'block_code_sw']
block_df = pd.DataFrame(lines, columns=cols)
block_df.iloc[50:60]

   sh_sz_indicator stock_code block_code block_code_sw
50               0     000062    T050107        450103
51               0     000063      T1202        320103
52               0     000065    T110101        250205
53               0     000066      T1201        320201
54               0     000068      T1204        270301
55               0     000069    T060502        460301
56               0     000070      T1202        320103
57               0     000078    T040502        370301
58               0     000088    T090303        420101
59               0     000089    T090302        420501

In [140]:
len(lines)

3691

In [11]:
import pickle

In [12]:
# get stock list
tdx_path = 'C:/Users/ben_msi/abu/data/download/tdx/'
stock_list = pickle.load(open(tdx_path + 'stock_list.pkl', 'rb'))

In [15]:
df_com = pd.DataFrame({'stock_code': stock_list})

In [16]:
problem_list = []
for stock in stock_list:
    block_code = block_df[block_df['stock_code'] == stock]['block_code'].values[0]
    sh_sz_indicator = block_df[block_df['stock_code'] == stock]['sh_sz_indicator'].values[0]
    if block_code is not None:
        block_idx_name = block_zs_df[block_zs_df.block_code == block_code].block_idx_name.values[0]
        block_idx_code = block_zs_df[block_zs_df.block_code == block_code].block_idx_code.values[0]
        if block_idx_code is not None and block_idx_name is not None:
            df_com['block_code'] = block_code
            df_com['block_idx_code'] = block_idx_code
            df_com['block_idx_name'] = block_idx_name
            df_com['sh_sz_indicator'] = sh_sz_indicator
        else:
            problem_list.append(stock)
    else:
        problem_list.append(stock)
df_com.head()

  stock_code block_code block_idx_code block_idx_name sh_sz_indicator
0     000001    T060101         880419            出版业               1
1     000002    T060101         880419            出版业               1
2     000004    T060101         880419            出版业               1
3     000005    T060101         880419            出版业               1
4     000006    T060101         880419            出版业               1

In [17]:
len(problem_list)

0

In [155]:
len(df_com)

3538

In [18]:
df_com.to_csv(tdx_path + 'tdx_stock_block_mapping.csv', encoding='utf_8_sig')

In [34]:
block_df.to_csv(path_to_save + 'block_idx_tdx.csv', encoding='utf_8_sig')

In [36]:
block_idx_code_list = block_df['block_idx_code'].tolist()

In [37]:
block_idx_code_list[:10]

['880201',
 '880202',
 '880203',
 '880204',
 '880205',
 '880206',
 '880207',
 '880208',
 '880209',
 '880210']

In [38]:
import pickle

In [40]:
pickle.dump(block_idx_code_list, open(path_to_save + 'block_idx_code_list.pkl', 'wb'))

# 3. Financial data

In [128]:
import QUANTAXIS as QA
import pandas as pd

In [129]:
from QUANTAXIS.QAFetch.QATdx import QA_fetch_get_stock_block, QA_fetch_get_stock_list,QA_fetch_get_index_day, QA_fetch_get_index_list
from QUANTAXIS.QASU.main import QA_SU_save_stock_info, QA_SU_save_block_index_day
from QUANTAXIS.QAFetch.QAQuery import QA_fetch_block_index_day
from QUANTAXIS.QAFetch.QAQuery_Advance import QA_fetch_stock_day_ts_adv

In [3]:
fin_df = QA.QA_fetch_financial_report_adv('000651', '2013-01-01','2018-07-21')

In [5]:
fin_df = fin_df.data

In [6]:
fin_df.tail(10)

,,tangibleAssetDebtRatio,rateOfReturnOnInvestmentIncome,listedHShares,taxAndSurcharges,pensionInsuranceAgencyShareholfing,institutionShareholding,equityTurnover,netCashFlowsFromInvestingActivitiesSingle,shareholdersInterest/InterestRateDebtRatio,nonOperatingExpenses,...,interCompanyReceivables,277,278,279,280,281,282,_id,code,report_date
report_date,code,,,,,,,,,,,,,,,,,,,,,
2015-12-31,000651,2.08,2.0500,6.27,7.8995,0.03,26.372000,7.377,8.881980e+10,NaN,1.487981e+10,...,1.253244e+10,NaN,NaN,2.0,264356464.0,27.309999,0.4219,5b5bb2e1af1137018469a473,000651,2015-12-31
2016-03-31,000651,0.53,0.5208,6.80,8.4267,0.03,6.233000,1.017,9.628353e+10,NaN,1.711114e+10,...,1.291690e+10,NaN,NaN,2.0,264356464.0,6.430000,0.5209,5b5bb2e4af1137018469b239,000651,2016-03-31
2016-06-30,000651,1.06,1.1700,5.84,7.4658,0.03,14.255000,1.904,9.942134e+10,NaN,1.077572e+10,...,1.321416e+10,NaN,NaN,2.0,264356464.0,12.620000,0.6518,5b5bb2e7af1137018469bd8a,000651,2016-06-30
2016-09-30,000651,1.87,1.9539,6.64,8.2692,0.03,22.573000,2.354,9.723368e+10,NaN,2.735516e+10,...,1.380878e+10,NaN,NaN,2.0,255750960.0,21.129999,0.7813,5b5bb2eaaf1137018469c99e,000651,2016-09-30
2016-12-31,000651,2.56,2.5900,7.33,8.9538,0.03,28.629999,2.470,9.561313e+10,NaN,2.996336e+10,...,1.542096e+10,NaN,NaN,3.0,352762752.0,30.410000,0.6393,5b5bb2edaf1137018469d5c5,000651,2016-12-31
2017-03-31,000651,0.67,0.6005,7.99,9.6192,0.03,6.938000,1.459,1.092701e+11,NaN,1.805461e+10,...,1.627569e+10,NaN,NaN,2.0,326587904.0,7.190000,0.6006,5b5bb2f0af1137018469e38c,000651,2017-03-31
2017-06-30,000651,1.57,1.5000,7.10,8.7202,0.03,18.018999,0.605,1.053178e+11,NaN,2.099638e+10,...,1.847098e+10,NaN,NaN,3.0,461542752.0,16.139999,0.8961,5b5bb2f3af1137018469f08a,000651,2017-06-30
2017-09-30,000651,2.57,2.5945,8.10,9.7451,0.03,26.372999,0.954,9.337923e+10,NaN,5.160442e+10,...,1.965261e+10,NaN,NaN,3.0,607909632.0,25.100000,1.0978,5b5bb2f6af1137018469fe1f,000651,2017-09-30
2017-12-31,000651,3.72,3.5200,9.27,10.9039,0.02,34.151001,2.719,9.961044e+10,602045568.0,3.225641e+10,...,2.240158e+10,NaN,NaN,3.0,758083840.0,37.439999,0.9246,5b5bb2f9af113701846a0bba,000651,2017-12-31
2018-03-31,000651,0.93,0.6958,10.19,11.7892,0.02,7.870000,2.387,1.051754e+11,305093376.0,2.156094e+10,...,2.396866e+10,NaN,NaN,3.0,784419328.0,8.180000,0.6958,5b5bb2fcaf113701846a197f,000651,2018-03-31

## 3.1) define useful columns to extract interested financial data

# 4. export Block data into csv files

In [10]:
import pickle
path_to_read = "C:/Users/ben_msi/abu/data/download/tdx/"
block_file_list = path_to_read + 'block_idx_code_list.pkl'
path_to_save = "C:/Users/ben_msi/abu/data/download/tdx/block_index/"

In [11]:
block_list = pickle.load(open(block_file_list, 'rb'))

In [13]:
for block in block_list:
    df_block = QA_fetch_block_index_day(block, '1990-01-01', '2018-07-27', format='pd')
    df_block.to_csv(path_to_save + str(block) + '.csv', encoding='utf_8_sig')

## 4.2 generate block name to index mapping dict

In [14]:
path_to_read = "C:/Users/ben_msi/abu/data/download/tdx/"
file_name = path_to_read + 'block_idx_tdx.csv'

In [19]:
block_mapping_df = pd.read_csv(file_name, index_col=0)

In [20]:
block_mapping_df.head()

  block_idx_name  block_idx_code  type  unknown  unknown.1 block_code
0            黑龙江          880201     3        1          0          1
1           新疆板块          880202     3        1          0          2
2           吉林板块          880203     3        1          0          3
3           甘肃板块          880204     3        1          0          4
4           辽宁板块          880205     3        1          0          5

In [21]:
block_name2code_dict = dict(zip(block_mapping_df.block_idx_name, block_mapping_df.block_idx_code))

In [24]:
block_name2code_dict['吉林板块']

880203

In [25]:
file2save = path_to_read + 'block_name2code_dict.pkl'

In [26]:
pickle.dump(block_name2code_dict, open(file2save, 'wb'))

# 5. export stock trading data into csv files

In [7]:
# get stock list
stock_list_1 = QA.QA_fetch_stock_list_adv().code.tolist()

In [9]:
len(stock_list_1)

3538

In [15]:
file_stocklist = "C:/Users/ben_msi/abu/data/download/tdx/stock_list.pkl"

In [17]:
import pickle
pickle.dump(stock_list_1, open(file_stocklist, 'wb'))

In [18]:
path_to_save = "C:/Users/ben_msi/abu/data/download/tdx/stock_day_20180727/"

In [20]:
stock_id = stock_list_1[30]
stock_id

'000036'

In [90]:
# 1 fetch data from db
stock_df = QA.QA_fetch_stock_day_adv('000922')

In [24]:
type(stock_df)

QUANTAXIS.QAData.QADataStruct.QA_DataStruct_Stock_day

In [91]:
stock_df_qfq = stock_df.to_qfq()

In [28]:
stock_df_qfq.data.head()

,,open,high,low,close,volume,amount,preclose,adj
date,code,,,,,,,,
1994-06-17,000036,0.625010,0.694456,0.557301,0.680567,789953.726982,49869236.0,NaN,0.173614
1994-06-20,000036,0.659733,0.677094,0.604177,0.612857,454606.282717,29615056.0,0.680567,0.173614
1994-06-21,000036,0.607649,0.625010,0.598968,0.605913,116540.163168,7133051.5,0.612857,0.173614
1994-06-22,000036,0.607649,0.633691,0.607649,0.614593,95769.944793,5926312.0,0.605913,0.173614
1994-06-23,000036,0.614593,0.623274,0.595496,0.597232,55272.050895,3336894.0,0.614593,0.173614

In [92]:
tdx_df = stock_df_qfq.data

In [93]:
tdx_df.tail()

                   open  high   low  close   volume      amount  preclose  adj
date       code
2018-07-23 000922  6.72  6.85  6.71   6.83  18524.0  12604792.0      6.75  1.0
2018-07-24 000922  6.82  6.92  6.75   6.86  24429.0  16682045.0      6.83  1.0
2018-07-25 000922  6.83  6.90  6.79   6.80  22322.0  15253625.0      6.86  1.0
2018-07-26 000922  6.77  6.89  6.74   6.83  23357.0  15918321.0      6.80  1.0
2018-07-27 000922  6.84  7.08  6.82   7.03  32750.0  22702426.0      6.83  1.0

## 5.1 compare with csv from tushare

In [71]:
ts_path = "C:/Users/ben_msi/abu/data/download/OCHLV_20180717/"

In [86]:
ts_stock_file = ts_path + '000922.csv'

In [87]:
ts_df = pd.read_csv(ts_stock_file, index_col=0)

In [88]:
ts_df.tail()

            date  open  close  high   low   volume  code
4382  2018-07-10  6.65   6.69  6.76  6.58  46250.0   922
4383  2018-07-11  6.56   6.53  6.65  6.38  41571.0   922
4384  2018-07-12  6.51   6.81  6.84  6.49  46381.0   922
4385  2018-07-13  6.79   6.74  6.83  6.72  26868.0   922
4386  2018-07-16  6.50   6.65  6.71  6.50  30296.0   922

In [94]:
ts_close = ts_df[ts_df.date == '2018-07-10'].close.values[0]
ts_volume = ts_df[ts_df.date == '2018-07-10'].volume.values[0]

In [76]:
'2018-07-10' in ts_df.date.tolist()

True

In [52]:
volume

179225.0

In [95]:
tdx_close = tdx_df.loc['2018-07-10'].close.values[0]
tdx_volume = tdx_df.loc['2018-07-10'].volume.values[0]

In [96]:
compare_result = (abs(ts_close - tdx_close) <= 0.1) & (abs(ts_volume - tdx_volume) <= 1)
compare_result

True

In [57]:
test_list = stock_list_1[400:500]

In [58]:
test_list[-1]

'002036'

In [97]:
# compare
import os.path

test_date = '2018-07-10'
result_dict = {}
result_list = []
i = 0
for stock in test_list:
    ts_stock_file = ts_path + str(stock) + '.csv'
    if os.path.exists(ts_stock_file):
        ts_df = pd.read_csv(ts_stock_file, index_col=0)
        if test_date in ts_df.date.tolist():
            ts_close = ts_df[ts_df.date == test_date].close.values[0]
            ts_volume = ts_df[ts_df.date == test_date].volume.values[0]
            tdx_df = QA.QA_fetch_stock_day_adv(stock).to_qfq().data
            tdx_close = tdx_df.loc[test_date].close.values[0]
            tdx_volume = tdx_df.loc[test_date].volume.values[0]
            result_list.append((abs(ts_close - tdx_close) <= 0.1) & (abs(ts_volume - tdx_volume) <= 1))
            result_dict[i] = [stock, result_list[i], (ts_close, ts_volume), (tdx_close, tdx_volume)]
            i = i + 1
        else:
            print("test date doesn't exist for stock {}".format(stock + '.csv'))
    else:
        print("file {} doesn't exist".format(stock + '.csv'))

QA Error QA_fetch_stock_day_adv parameter code=000949 , start=1990-01-01, end=2018-07-29 call QA_fetch_stock_day return None

AttributeError: 'NoneType' object has no attribute 'to_qfq'

In [ ]:
stock = '000922'
ts_stock_file = ts_path + str(stock) + '.csv'

ts_df = pd.read_csv(ts_stock_file, index_col=0)

ts_close = ts_df[ts_df.date == test_date].close.values[0]
ts_volume = ts_df[ts_df.date == test_date].volume.values[0]
tdx_df = QA.QA_fetch_stock_day_adv(stock_id).to_qfq().data
tdx_close = tdx_df.loc[test_date].close.values[0]
tdx_volume = tdx_df.loc[test_date].volume.values[0]
result_list.append((abs(ts_close - tdx_close) <= 0.1) & (abs(ts_volume - tdx_volume) <= 1))

In [98]:
all(result_list)

False

In [80]:
import numpy as np

In [81]:
np.where(result_list)

(array([], dtype=int64),)

In [99]:
[i for i,v in enumerate(result_list) if v == False]

[0, 11]

In [84]:
result_list[:10]

[False, False, False, False, False, False, False, False, False, False]

In [102]:
result_dict[0]

['000921',
 False,
 (9.232999999999999, 48317.0),
 (9.232605032316469, 50658.35247613224)]

In [103]:
import tushare as ts

In [104]:
stock_000921 = ts.get_k_data('000921',ktype='D',autype='qfq',start='1997-01-01')
stock_000921.tail()

            date  open  close  high   low    volume    code
4202  2018-07-23  8.90   9.01  9.03  8.83   47176.0  000921
4203  2018-07-24  9.02   9.32  9.33  9.02  100965.0  000921
4204  2018-07-25  9.31   9.29  9.36  9.18   64053.0  000921
4205  2018-07-26  9.27   9.22  9.34  9.20   42747.0  000921
4206  2018-07-27  9.22   9.05  9.24  8.96   53760.0  000921

## 5.2 export ts stock to csv

In [105]:
tdx_ts_path = "C:/Users/ben_msi/abu/data/download/tdx/stock_day_20180727/"

QUANTAXIS>> Welcome to QUANTAXIS, the Version is 1.0.69.dev3
QUANTAXIS>>
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``########`````##````````##``````````##`````````####````````##```##########````````#``````##``````###```##`````######``
  `##``````## ```##````````##`````````####````````##`##```````##```````##```````````###``````##````##`````##```##`````##`
  ##````````##```##````````##````````##`##````````##``##``````##```````##``````````####```````#```##``````##```##``````##
  ##````````##```##````````##```````##```##```````##```##`````##```````##`````````##`##```````##`##```````##````##```````
  ##````````##```##````````##``````##`````##``````##````##````##```````##````````##``###```````###````````##`````##``````
  ##````````##```##````````##``````##``````##`````##`````##```##```````##```````##````##```````###````````##``````###````
  ##````````##```##````````##`````##````````##````##``````##``##```````##``````##``````##`````##`##```````##````````##```
  ##````````##```##````````##````#############````##```````##`##```````##`````###########`````##``##``````##`````````##``
  ###```````##```##````````##```##```````````##```##```````##`##```````##````##`````````##```##```##``````##```##`````##`
  `##``````###````##``````###``##`````````````##``##````````####```````##```##``````````##``###````##`````##````##`````##
  ``#########``````########```##``````````````###`##``````````##```````##``##````````````##`##``````##````##`````###``###
  ````````#####`````````````````````````````````````````````````````````````````````````````````````````````````````##``
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
  ``````````````````````````Copyright``yutiansut``2018``````QUANTITATIVE FINANCIAL FRAMEWORK`````````````````````````````
  ```````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````
 ````````````````````````````````````````````````````````````````````````````````````````````````````````````````````````

In [127]:
stock_id = '002358'
df_002098 = QA_fetch_stock_day_ts_adv(stock_id)
df_002098.tail()

              code   open   high    low  close   volume       date
date
2018-07-23  002358  14.20  14.28  14.10  14.28  36100.0 2018-07-23
2018-07-24  002358  14.18  14.56  14.18  14.41  42135.0 2018-07-24
2018-07-25  002358  14.40  15.00  14.29  14.36  56659.0 2018-07-25
2018-07-26  002358  14.30  14.50  14.24  14.30  34315.0 2018-07-26
2018-07-27  002358  14.30  14.36  14.18  14.29  19229.0 2018-07-27

In [126]:
type(df_002098.date[0])

pandas._libs.tslibs.timestamps.Timestamp